.submit-button {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  width: 150px;
  line-height: 30px;
  border-radius: 30px;
  background-color: #0ccac4;
  color: white;
  cursor: pointer;
}

.submit-button:hover {
  transform: scale(1.05);
}
